@charset "UTF-8";

body {
            background-color: antiquewhite;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 20px;
        }

        h1 {
            color: brown;
            background-color: azure;
        }

        h2 {
            color: darkblue;
            background-color: azure;
        }

        p {
            text-align: justify;
        }