@charset "UTF-8";

/*
    em HTML é id = em CSS é # (somente um elemento)
    em HTML é class = em CSS é . (vários elementos)
*/

body {
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}

h1#principal {
    text-align: center;
    background-color: gray;
    color: white;
}

h1 {
    color: black;
}

h2 {
    color: red;
}

.basico {
    color: green;
}

.intermediario {
    color: rgb(255, 255, 0);
}

.avancado {
    color: red
}